.body-container {
  margin: -300px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.green-line {
  height: 4px;
  background-color: rgb(0, 255, 0);
  margin-bottom: 20px;
}

.dynamic-list {
  margin-bottom: 20px;
  flex-grow: 1;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item-text {
  flex: 1;
  font-size: 1rem;
}

.button-group {
  display: flex;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: orange;
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
}

.add-list-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .body-container {
    width: 85%;
    margin: 10px auto;
    max-width: 400px;
  }

  .body-title {
    font-size: 1.2rem;
  }

  .item-text {
    font-size: 0.9rem;
  }

  .add-list-button {
    font-size: 0.9rem;
  }

  .edit-button,
  .delete-button {
    font-size: 0.8rem;
  }
}