.Footer {
  color: rgba(255, 255, 255, 0.8); 
  text-align: center;
  padding: 5px 0 5px 51px; 
  position: fixed; 
  bottom: 0;
  width: 100%;
  z-index: 1000; 
  font-size: 0.8rem; 
  background-color: transparent; 
}

.Footer span:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Footer {
    top: 618px;
    right: -3px
  }
}